@font-face {
    font-family: "Avenir";
    src: url(../fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: "Avenir Black";
    src: url(../fonts/avenir_ff/AvenirLTStd-Black.otf)
}

body {
    font-family: Avenir;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: "Avenir Black";
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
}

main,
footer {
    position: relative;
    top: 64px;
}

#logo {
    margin-left: 24px;
    float: left;
}

#logo img {
    vertical-align: middle;
    height: 40px;
}

#logo p {
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    font-family: "Avenir Black";
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
}

p#colmar {
    color: darkslategray;
    padding-right: 2px;
}

#academy {
    color: gray;
}

nav {
    float: right;
    vertical-align: middle;
    margin-right: 24px;
}

.desktop ul {
    margin: 0;
    vertical-align: middle;
}

.desktop ul li {
    display: inline-block;
    margin-left: 16px;
    padding: 0;
}

.desktop ul li a {
    color: darkslategray;
}

#information {
    display: flex;
    width: 100%;
}

#information_main {
    width: 60%;
    margin: 32px 24px;
    flex-shrink: 2;
}

#information_main img {
    width: 100%;
}

#courses {
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

#courses h1 {
    margin: 0;
    padding: 32px 0;
}

.row {
    margin: 0 72px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.course {
    background-color: white;
    width: 32%;
    text-align: left;
    padding-bottom: 24px;
    color: black;
}

.course img {
    width: 100%;
}

.course h4 {
    font-size: 20px;
    padding-left: 16px;
    padding-top: 16px;
    margin: 0;
    top: 0;
}

.course p {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin: 0;
}

footer {
    padding-bottom: 16px;
}

#copyright {
    margin: 16px 24px;
}



@media only screen and (min-width: 689px) {
    .mobile {
        display: none;
    }

    #start {
        width: 100%;
        background-color: lightgray;
        display: flex;
        align-items: center;
    }
    
    #banner {
        width: 60%;
        margin: 32px 24px;
        flex-shrink: 2;
    }

    #learn {
        display: inline-block;
        width: 40%;
        color: darkslategray;
        flex-shrink: 1;
    }
    
    #learn h3 {
        margin-bottom: 30px;
    }
    
    #start_here {
        color: white;
        background-color: darkslategray;
        padding: 8px 50px;
        margin-top: 20px;
    }

    #features {
        width: 40%;
        padding: 0;
        margin-top: 32px;
        flex-shrink: 1;
    }
    
    .feature {
        display: flex;
        align-items: center;
    }
    
    .feature img {
        max-width: 40%;
        height: auto;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .feature h4,
    .feature p {
        margin: 5px;
    }
    
    .feature h4 {
        font-size: 20px;
    }

    #thesis h1 {
        text-align: center;
        padding: 32px 0;
        margin: 0;
    }
    
    #thesis_container {
        display: flex;
        padding-bottom: 32px;
    }
    
    #thesis_main {
        width: 60%;
        margin: 0 24px;
        flex-shrink: 2;
    }
    
    #thesis_main video {
        width: 100%;
    }
    
    #thesis_main h4 {
        font-size: 20px;
        margin: 0;
        padding-top: 24px;
    }
    
    #thesis_main p {
        margin: 0;
        padding-top: 8px;
    }
    
    #thesis_other {
        width: 40%;
        padding: 0;
        flex-shrink: 1;
    }
    
    .thesis_button {
        display: flex;
        align-items: center;
    }
    
    .thesis_button img {
        max-width: 40%;
        height: auto;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .thesis_content h4,
    .thesis_content p {
        margin: 5px;
    }
    
    .thesis_content h4 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 688px) {
    .desktop {
        display: none;
    }

    nav {
        width: 100%;
        height: 64px;
        padding: 0;
        margin: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        height: 30px;
    }

    #mobile_logo {
        height: 40px;
    }

    nav a img {
        height: 100%;
    }

    #start {
        width: 100%;
        background-color: lightgray;
    }

    #banner {
        width: 100%;
        margin: 0;
    }
    
    #learn {
        width: 100%;
        color: darkslategray;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #learn h1 {
        margin: 32px 16px;
    }
    #learn h3 {
        margin: 0 16px 24px;
    }
    
    #start_here {
        color: white;
        background-color: darkslategray;
        padding: 8px 50px;
        margin: 0 16px 32px;
    }    

    .feature {
        margin: 16px 16px 48px;
    }

    .feature img {
        width: 100%;
    }

    .feature h4 {
        font-size: 20px;
    }

    .feature h4,
    .feature p,
    .feature a {
        margin: 8px 16px;
    }
   
    #courses_mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    #courses_mobile h1 {
        text-align: center;
        margin: 0 0 16px;
    }

    .course_button {
        padding: 16px;
        background-color: lightgray;
        margin: 0 16px 8px;
        color: black;
        font-size: 20px;
    }

    #thesis h1 {
        text-align: center;
        margin: 32px 0 16px;
        padding: 0;
    }

    #thesis_main video {
        width: 100%;
        margin-bottom: 24px;
    }

}