@font-face {
    font-family: "Avenir";
    src: url(../fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: "Avenir Black";
    src: url(../fonts/avenir_ff/AvenirLTStd-Black.otf)
}

body {
    font-family: Avenir;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: "Avenir Black";
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 24px;
    float: left;
}

#logo img {
    vertical-align: middle;
    height: 40px;
}

#logo p {
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    font-family: "Avenir Black";
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
}

p#colmar {
    color: darkslategray;
    padding-right: 2px;
}

#academy {
    color: gray;
}

nav {
    float: right;
    vertical-align: middle;
    margin-right: 24px;
}

ul {
    margin: 0;
    vertical-align: middle;
}

ul li {
    display: inline-block;
    margin-left: 16px;
    padding: 0;
}

ul li a {
    color: darkslategray;
}

.mobile {
    display: none;
}

#start {
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

#banner {
    width: 60%;
    margin: 32px 24px;
    flex-shrink: 2;
}

#learn {
    display: inline-block;
    width: 40%;
    color: darkslategray;
    flex-shrink: 1;
}

#learn h3 {
    margin-bottom: 30px;
}

#start_here {
    color: white;
    background-color: darkslategray;
    padding: 8px 50px;
    margin-top: 20px;
}


#information {
    display: flex;
    width: 100%;
}

#information_main {
    width: 60%;
    margin: 32px 24px;
    flex-shrink: 2;
}

#information_main img {
    width: 100%;
}

#features {
    width: 40%;
    padding: 0;
    margin-top: 32px;
}

.feature {
    display: flex;
    align-items: center;
}

.feature img {
    max-width: 40%;
    height: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.feature h4,
.feature p {
    margin: 5px;
}

.feature p {
    font-size: 12px;
}

